/* 
https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a
*/

.app {
    margin: auto;
    max-width: 1200px;
    color: rgb(199, 199, 199);
}

.content {
    margin: 5em 75pt;
    padding: 3em;
    background-color: #000814;
}